@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.faq .accordion-button {
  font-size: 36px;
  font-weight: 200;
  color: #344097!important;
  background-color: transparent!important;
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none!important;
}
.ReactModal__Content.ReactModal__Content--after-open {
  border: none !important;
  background: transparent !important;
}